.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    .linksContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        gap: 2.1rem;
        color: rgb(191, 187, 187);
    }
    .logo{
        width: 25%;
    }
    .connect{
        width: 25%;
        text-align: center;
        color: rgb(191, 187, 187);
    }
}